.filter-bar-container {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 2%;
}

h3 {
    font-size: 18px;
    padding: 1.5em;
}

.filter-bar-container {
    
}

.accordion-item {
    background-color: ghostwhite;
    border: none;
}

.filter-accordion .accordion-header {
    padding: 10px;
    cursor: pointer;
}