

.product-list-item-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 5% 5%;
}

.product-list-item-card {
    width: 21%;
    box-sizing: border-box;
    padding: 0 10px;
    
}

.row-divider {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }