.product-list-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.category-description {
    margin-right: 60px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}

.filter-bar {
    width: 200px;
    margin: 20px 40px;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.sort-bar {
    margin-top: 20px;
}

.item-grid {
    margin-top: 20px;
}