.footer-container {
    margin-top: 20px;
    border-top: 2px solid #c7c8c9;
}

.footer-top {
    background-color: floralwhite;
}

.footer-bottom {
    background-color: #bf190a;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px
}

ul>li>a {
    color: black;
    text-decoration: none;
}

ul>li>a:hover {
    color: #bf190a;
    text-decoration: underline;
}

.subscribe-form {
    padding-top: 1.5em;
}

.footer-section {
    padding: 1em;
}

.terms-container {
    padding: 1em;
}

.terms-container a {
    color: lightgray;
    text-decoration: none;
}

.terms-container a:hover {
    color: white;
    text-decoration: underline;
}

.terms-container span {
    color: lightgray;
}

.socials-container {
    padding: 1em;
    color: lightgray;
    font-weight: bold;
}

.socials-logos {
    font-size: 30px;
}

.socials-logos a {
    color: lightgray;
    text-decoration: none;
}

.socials-logos a:hover {
    color: white;
}

.payments-container {
    padding: 1em;
    color: lightgray;
    font-weight: bold;
}

.payment-icons {
    font-size: 30px;
}