.outter-carousel-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.carousel-container {
    width: 80%;
    max-width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    max-height: 520px;
  }
  
  .custom-carousel .carousel-item {
    border-radius: 15px;
  }

  .custom-carousel img {
    border-radius: 15px;
    max-height: 520px;
  }