.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background-color: white;
    padding: 10px 20px;
  }


  
  .search-container {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    margin-right: 10px;
    max-width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-icon {
    cursor: pointer;
    color: #555;
    font-size: 18px; 
    height: 38px;
    padding-top: 2px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    max-width: 400px;
    padding: 0;
  }

  .header-button {
    background-color: white;
    outline: none;
    border: none;
  }

  .cart-button {
    margin-right: 30px;
  }

  .header-button:hover {
    background-color: white;
    color: black;
  }

  .button-text {
    padding-left: 5px;
  }
  