.home-card {
  margin: 10px -1px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.home-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-card-img img {
  display: block;
  max-width: 75%;
  height: auto;
  margin: 0 auto;
}

.home-card-img img:hover {
  filter: opacity(70%);
}

.home-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: auto;
  height: 32px;
  line-height: 16px;
}

.home-card-title a {
  color: black;
  text-decoration: none;
}

.home-card-title a:hover {
  color: #d60000;
}

.home-our-price {
  font-weight: 800;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  color: #d60000;
  text-align: center;
}

.home-our-price-value {
  font-weight: bold;
  font-size: 26px;
  display: block;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.home-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-add-to-cart-button {
  width: 50%;
  margin-right: 5px;
  background-color: #bf1909;
  font-size: 14px;
  height: 100%;
  font-weight: 600;
}

.home-add-to-cart-button:hover {
  background-color: #ff0000;
}

.home-button {
  outline: none;
  border: none;
  height: 36px
}