.checkout-container {
    display: flex;
    flex-wrap: wrap;
}

.checkout-options-container {
    width: 60%;
    margin-top: 10px;
}

.collapse-section {
    width: 85%;
    margin: 1.5rem auto;
}

.collapse-text {
    padding-left: 30px;
}

.accordion-button {
    background-color: lightgray !important;
    font-size: 22px;
    font-weight: 500;
    outline: none;
    color: black;
    padding: 0.2rem 0.7rem;
}

.collapse-section-button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.accordion-button:focus,
.accordion-button:active,
.accordion-button {
    color: black !important;
}

.contact-email-input {
    width: 90%;
    max-width: 18rem;
}

.login-anchor {
    text-decoration: underline;
    color: black;
}

.login-anchor:hover {
    cursor: pointer;
    color: #bf1909;
}

.checkout-address,
.add-address-button {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0.5em 0;
}

.checkout-address {
    padding-left: 35px;
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 0.5rem;
    border: 1px solid black;
}

.address-info {
    width: 100%;
    padding-left: 1rem;
}

.address-info:hover {
    cursor: pointer;
}

.form-check-input:checked + label {
    background-color: #d4ebff;
    font-weight: 600;
}

.add-address-button button {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    color: #bf1909;
    font-weight: 700;
    padding: 10px 10px;
    font-size: 14px;
}

.add-address-button button:hover {
    border: 1px solid gray;
    color: #d73a29;
}

.plus-icon {
    margin-right: 24px;
}

.transactions-disclaimer {
    margin: 1rem 1rem;
    font-size: 13px;
    font-weight: 700;
}

.pay-now-button {
    display: block;
    margin: 1rem auto;
    background-color: #bf190a;
    border: none;
}

.pay-now-button:hover {
    background-color: #cc0000;
}

.checkout-order-details {
    width: 40%;
    margin-top: 20px;
}

.checkout-summary-container {
    margin-top: 8px;
}

.checkout-summary span:nth-child(2) {
    float: right;
    font-weight: 500;
}

.checkout-summary {
    margin-right: 50px;
    margin-bottom: 8px;
    font-size: 14px;
    border-bottom: 1px dotted lightgray;
}

@media (max-width: 768px) {
    .checkout-container {
      flex-direction: column;
    }
  
    .checkout-options-container {
      width: 100%;
    }
  
    .checkout-order-details {
      width: 100%;
      padding-left: 30px;
      margin-top: 20px;
    }
  }